
@{
    ViewBag.Title = "Token Information";
}
@if(string.IsNullOrEmpty(ViewBag.Token.Error))
{
<h2>Please close this window.</h2>
<h2>Successfully retrieve the token: This token is valid only for an hour</h2>
}
else
{
    <p>@ViewBag.Token.Error</p>
}
<script language="">
    window.close();
</script>

